{% extends "base.html" %}
{% block page-title %}  Contact{% endblock %}
{% block content %}
<style>

  form > input,
  form > textarea {
    padding: 12px;
    margin: 12px auto;
    border: 1px solid #ccc;
    color: white;
    background-color: #315b68;
    border-radius: 4px;
    display: block;
    width: 50vw;
    font-size:16px;
  }

  form > textarea{
    height:100px;
    resize:none;
  }

  form > input[type="submit"] {
    max-width: 20vw;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    transition: 0.35s;
  }

  form > input[type="submit"]:hover {
    font-weight:bolder;
  }
  h1{
      text-align:center;
      margin: 25px 0;
  }
  ::placeholder{
      color:ghostwhite;
  }
</style>
<h1>Contact</h1>
<form class='form-group' method="POST" onsubmit='submitalert()'>
  {% csrf_token %}
  <input name='name' type="text" placeholder="Name " required autocomplete = 'off'>
  <input name='email' type="text" placeholder=" Email" required autocomplete = 'off'>
  <input name='subject' type="text" placeholder="Subject" autocomplete = 'off'>
  <textarea name='message' placeholder="Message " required autocomplete = 'off'></textarea>
  <input type="submit" value="Send" >
</form>
<script>
  function submitalert(){
  swal("Thank you for the message!")
.then((value) => {
  
})};
  </script>
{% endblock content %}