{% extends 'base.html'%}

{% block page-title %}  Policy{% endblock %}
{% block content %}

<div class="col-md-8 mx-auto">

    <div class="card my-4">
        
        <div class="card-body">
        {% for tab in aboutblog %}
        <div class="float-right mb-4 ml-4" >
        <img  src="https://drive.google.com/uc?id=1ZU5CKPYq6Is6TQfPdC8Dly1M5NpWmrCD" alt="" style="width:150px;">
        </div>
            <p class="card-text">{{tab.policy | safe}} </p>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}