{% extends 'base.html' %} 
{% block page-title %}  {{post.title}}
{% endblock page-title %}

{% block content %}
{% load crispy_forms_tags %}

<style>
    input {max-width: 20em};
    input{margin-top:.5rem;}
</style>
<header class="masthead"style="background:#315b68; height: 30vh">
  <div class="overlay"></div>
  <div class="container" >
    <div class="row">
      <div class=" col-md-8 col-md-8 mx-auto">
        <div class="site-heading">
          <h2 class=" site-heading my-4 mt-1 text-white text-center"> {% block title %} {{ post.title }} {% endblock title %} </h2>
          <h6 class="text-light text-center"> {{ post.author }} | {{ post.created_on }}
          
          </h6>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>


<div class="container">
  <div class="row">

     <div class="col-md-10 card mb-1 center mx-auto mt-3">
      <div class="card-body text-left">
        
        <p class="card-text ">{{ post.content | safe }}</p>
        {% for tag in post.tags.all %}
           <button class='btn btn-info btn-sm'><a class='text-white' href="{% url 'posts_by_tag' tag.slug %}" style="text-decoration:none;">{{tag.name}}</a></button>
        {% endfor %}
      </div>
    </div>
   <div class="col-md-10 card mb-4  mt-3 mx-auto">
      <div class="card-body">
        <!-- comments -->
        
        {% with comments.count as total_comments %}
        <h2>{{ total_comments }} thought{{total_comments|pluralize}} on "{{ post.title }}"</h2>

        <p>
          {% endwith %} {% for comment in comments %}
        </p>

        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        
    
 

        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 mx-auto">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1em;">
          {% csrf_token %}
          {{ comment_form | crispy}}
          
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
    
  </div>
</div>




 

{% endblock content %}