{% load static %}
{% block sidebar %}


<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">

    <div class="card my-4">
        <h5 class="card-header mx-auto">About Us</h5>
        <div class="card-body">
        <div class="float-right mb-4 ml-4">
        <img src="{% static 'images/logo.png' %}" alt="">
        </div>
            <p class="card-text">Python Central is an educational site providing content on Python programming and web development to all the programmers and budding programmers across the internet. The main goal of this site is to provide quality tips, tricks, hacks, and other Programming resources that allows beginners to improve their skills.</p>

            <a href="{% url 'aboutus' %}" class="btn btn-info">Know more!</a>
        </div>
    </div>
    
    <div class="card my-4">
        <h5 class="card-header mx-auto">Topics</h5>
        <div class="card-body">
        <div class="float-right mb-4 ml-4">
        
        </div>
            <p class="card-text">
                {% for tag in tags %}
                    <button class="btn btn-info btn-sm mr-2 mb-2">
                        <a class="text-white" href="{% url 'posts_by_tag' tag.slug %}">{{tag | safe}}</a>
                    </button>
                {% endfor %}
             </p>

            
        </div>
    </div>
    
</div>

{% endblock sidebar %}